
<div class="col-xs-12 col-sm-4">
 <% if cocktail.photo? %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">
  <% else %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("xj1oie5lyyuzogrrauel",
      width: 400, height: 300, crop: :fill) %>')">
  <% end %>
    <div class="card-body">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="card-category"></div>
          <div class="card-description">
            <h2> <%= cocktail.name %> </h2>
          </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>





