
<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-body">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="card-category"></div>
          <div class="card-description">
            <h2> <%= cocktail.name %> </h2>
          </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>





