<h1>Cocktails#index</h1>


<% @cocktails.each do |cocktail| %>
    <h2> name : <%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <% cocktail.doses.each do |dose| %>
          <p> ingredient : <%= cocktail.doses.ingredient %></p>
          <p> dose :  <%= dose.description %></p>
        <% end %>

      <%= link_to "Delete", cocktail_path(cocktail),
          method: :delete,
          data: { confirm: "Are you sure that you want to delete?" } %>
<% end %>
